version: "3.8"

services:

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8001:8001"
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "8002:8002"
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo

  cart-order-service:
    build: ./cart-order-service
    container_name: cart-order-service
    ports:
      - "8003:8003"
    environment:
      - MONGO_URL=mongodb://mongo:27017
      - PRODUCT_SERVICE_URL=http://product-service:8002
    depends_on:
      - mongo

  delivery-service:
    build: ./delivery-service
    container_name: delivery-service
    ports:
      - "8004:8004"
    environment:
      - MONGO_URL=mongodb://mongo:27017
    depends_on:
      - mongo
