apiVersion: apps/v1
kind: Deployment
metadata:
  name: cart-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cart-service
  template:
    metadata:
      labels:
        app: cart-service
    spec:
      containers:
        - name: cart-service
          image: cart-order-service:latest
          ports:
            - containerPort: 8003
          env:
            - name: MONGO_URL
              value: mongodb://mongo:27017
---
apiVersion: v1
kind: Service
metadata:
  name: cart-service
spec:
  type: NodePort
  selector:
    app: cart-service
  ports:
    - port: 8003
      targetPort: 8003
      nodePort: 30003
